In [1]:
import pandas as pd

df1 = pd.read_csv("bus_data.csv")

df1

,Link,Route,Bus Name,Bus Type,Departing Time,Reaching Time,Duration,Star Rating,Price,Seats Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:00,20:35,06h 35m,2.7\n8,INR 436,33 Seats available
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),14:00,20:04,06h 04m,4.1\n98,INR 720,33 Seats available
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3825,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,2.8\n4,INR 469,28 Seats available
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3583,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),14:30,20:30,06h 00m,3.8\n112,INR 720,23 Seats available
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3549,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,4.6\n12,INR 436,33 Seats available
...,...,...,...,...,...,...,...,...,...,...
5054,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),17:00,05:45,12h 45m,4.4\n161,INR 950,11 Seats available
5055,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Yolo Bus,Bharat Benz A/C Seater /Sleeper (2+1),17:02,04:49,11h 47m,4.2\n446,INR 780,14 Seats available
5056,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Vikram Travels,A/C Sleeper (2+1),20:20,08:30,12h 10m,4.6\n169,INR 969,13 Seats available
5057,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),19:05,07:00,11h 55m,4.1\n427,INR 970,12 Seats available
5058,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,CMR Express,Non A/C Seater / Sleeper (2+1),22:15,08:45,10h 30m,4.1\n319,INR 745,13 Seats available

In [2]:
df1.head()

,Link,Route,Bus Name,Bus Type,Departing Time,Reaching Time,Duration,Star Rating,Price,Seats Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:00,20:35,06h 35m,2.7\n8,INR 436,33 Seats available
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),14:00,20:04,06h 04m,4.1\n98,INR 720,33 Seats available
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3825,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,2.8\n4,INR 469,28 Seats available
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3583,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),14:30,20:30,06h 00m,3.8\n112,INR 720,23 Seats available
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3549,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,4.6\n12,INR 436,33 Seats available

In [3]:
df1.drop(columns=['Link'])

,Route,Bus Name,Bus Type,Departing Time,Reaching Time,Duration,Star Rating,Price,Seats Availability
0,Vijayawada to Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:00,20:35,06h 35m,2.7\n8,INR 436,33 Seats available
1,Vijayawada to Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),14:00,20:04,06h 04m,4.1\n98,INR 720,33 Seats available
2,Vijayawada to Hyderabad,APSRTC - 3825,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,2.8\n4,INR 469,28 Seats available
3,Vijayawada to Hyderabad,APSRTC - 3583,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),14:30,20:30,06h 00m,3.8\n112,INR 720,23 Seats available
4,Vijayawada to Hyderabad,APSRTC - 3549,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,4.6\n12,INR 436,33 Seats available
...,...,...,...,...,...,...,...,...,...
5054,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),17:00,05:45,12h 45m,4.4\n161,INR 950,11 Seats available
5055,Hyderabad to Tirupati,Yolo Bus,Bharat Benz A/C Seater /Sleeper (2+1),17:02,04:49,11h 47m,4.2\n446,INR 780,14 Seats available
5056,Hyderabad to Tirupati,Vikram Travels,A/C Sleeper (2+1),20:20,08:30,12h 10m,4.6\n169,INR 969,13 Seats available
5057,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),19:05,07:00,11h 55m,4.1\n427,INR 970,12 Seats available
5058,Hyderabad to Tirupati,CMR Express,Non A/C Seater / Sleeper (2+1),22:15,08:45,10h 30m,4.1\n319,INR 745,13 Seats available

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5059 entries, 0 to 5058
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link                5059 non-null   object
 1   Route               5059 non-null   object
 2   Bus Name            4000 non-null   object
 3   Bus Type            3966 non-null   object
 4   Departing Time      4000 non-null   object
 5   Reaching Time       4000 non-null   object
 6   Duration            4000 non-null   object
 7   Star Rating         3999 non-null   object
 8   Price               3999 non-null   object
 9   Seats Availability  3985 non-null   object
dtypes: object(10)
memory usage: 395.4+ KB

In [5]:
df1['Price'] = df1['Price'].astype(str)
df1['Price'] = df1['Price'].str.replace('INR ', '').astype(float)
df1['Price'].fillna(0)

0       436.0
1       720.0
2       469.0
3       720.0
4       436.0
        ...
5054    950.0
5055    780.0
5056    969.0
5057    970.0
5058    745.0
Name: Price, Length: 5059, dtype: float64

In [6]:
df1['Star Rating'] = df1['Star Rating'].str.split('\n').str[0]
df1['Star Rating'].fillna(0)

0       2.7
1       4.1
2       2.8
3       3.8
4       4.6
       ...
5054    4.4
5055    4.2
5056    4.6
5057    4.1
5058    4.1
Name: Star Rating, Length: 5059, dtype: object

In [7]:
df1.isnull().sum()

Link                     0
Route                    0
Bus Name              1059
Bus Type              1093
Departing Time        1059
Reaching Time         1059
Duration              1059
Star Rating           1060
Price                 1060
Seats Availability    1074
dtype: int64

In [8]:
# Function to safely convert to float
def safe_float(value):
    try:
        return float(value)
    except ValueError:
        return None  # or another appropriate value, such as NaN

# Clean 'Star Rating' column
df1['Star Rating'] = df1['Star Rating'].apply(safe_float)

In [9]:
df1 = df1.dropna(subset=['Bus Name'])
df1 = df1.dropna(subset=['Bus Type'])
df1 = df1.dropna(subset=['Departing Time'])
df1 = df1.dropna(subset=['Reaching Time'])
df1 = df1.dropna(subset=['Duration'])
df1 = df1.dropna(subset=['Star Rating'])
df1 = df1.dropna(subset=['Price'])
df1 = df1.dropna(subset=['Seats Availability'])

In [10]:
df1.isnull().sum()

Link                  0
Route                 0
Bus Name              0
Bus Type              0
Departing Time        0
Reaching Time         0
Duration              0
Star Rating           0
Price                 0
Seats Availability    0
dtype: int64

In [11]:
import re
def extract_number(seat_str):
    match = re.search(r'\d+', seat_str)  # Find the first sequence of digits
    if match:
        return float(match.group(0))
    return 0  # Default value if no number is found

In [19]:
df1['Seats Availability'] = df1['Seats Availability'].apply(extract_number)

In [20]:
print(df1['Star Rating'].unique())

[2.7 4.1 2.8 3.8 4.6 3.7 4.  3.3 4.4 3.4 4.3 3.1 2.4 3.9 4.2 4.8 2.6 4.7
 3.  4.5 3.6 2.2 2.9 3.5 4.9 2.1 1.7 1.5 2.3 2.5 3.2 1.9 1.8 2.  1.4 1.2
 1.6 1.3 5.  1.  1.1]

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3950 entries, 0 to 5058
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link                3950 non-null   object
 1   Route               3950 non-null   object
 2   Bus Name            3950 non-null   object
 3   Bus Type            3950 non-null   object
 4   Departing Time      3950 non-null   object
 5   Reaching Time       3950 non-null   object
 6   Duration            3950 non-null   object
 7   Star Rating         3950 non-null   float64
 8   Price               3950 non-null   float64
 9   Seats Availability  3950 non-null   object
dtypes: float64(2), object(8)
memory usage: 339.5+ KB

In [21]:
df1.to_csv('cleaned_bus_data.csv', index=False)

In [22]:
df2=pd.read_csv("cleaned_bus_data.csv")
df2

,Link,Route,Bus Name,Bus Type,Departing Time,Reaching Time,Duration,Star Rating,Price,Seats Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:00,20:35,06h 35m,2.7,436.0,33.0
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),14:00,20:04,06h 04m,4.1,720.0,33.0
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3825,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,2.8,469.0,28.0
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3583,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),14:30,20:30,06h 00m,3.8,720.0,23.0
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,APSRTC - 3549,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,21:00,06h 30m,4.6,436.0,33.0
...,...,...,...,...,...,...,...,...,...,...
3945,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),17:00,05:45,12h 45m,4.4,950.0,11.0
3946,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Yolo Bus,Bharat Benz A/C Seater /Sleeper (2+1),17:02,04:49,11h 47m,4.2,780.0,14.0
3947,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Vikram Travels,A/C Sleeper (2+1),20:20,08:30,12h 10m,4.6,969.0,13.0
3948,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,Moksha Travels,A/C Sleeper (2+1),19:05,07:00,11h 55m,4.1,970.0,12.0
3949,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Tirupati,CMR Express,Non A/C Seater / Sleeper (2+1),22:15,08:45,10h 30m,4.1,745.0,13.0